# TODO: add the following check families:
# - bugprone-*
# - cppcoreguidelines-

# NB: as of clang-tidy 16, we get several false positives inside boost, notably this one:
#  https://github.com/llvm/llvm-project/issues/40486

Checks: 'performance-*,modernize-*,-modernize-use-trailing-return-type,-clang-diagnostic-unqualified-std-cast-call'
